body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  #logotimos{
    font-size:medium;
    text-align:justify;
  }
  .logo svg{
    width: 20%;
    text-align:justify;
  }
  #proforma{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .boton {
    display: grid;
    width:50%;
    grid-template-rows: auto auto ;
  }
  .boton button {
    background-color: #5cc171; /* Green background */
    border: 1px solid #000000; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    font-weight: 700;
    font-size: 25px;
  }
  
  .boton button:not(:last-child) {
    border-bottom: none;
  }
  
  .boton button:hover {
    background-color: #3e8e41;
  }